<div>color: {{color}}</div>
<span class="g">{{greeting}}</span>
<span class="n">{{number}}</span>
<div class="b">{{bar}}</div>
<button onclick={{action "up"}}>ACTION</button>
<button onclick={{action "go"}}>GO</button>
